* {
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

@media(max-width: 1200px) {
  .container {
    width: 830px;
  }
}

@media(max-width: 830px) {
  .container {
    max-width: 600px;
  }
}


.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
  margin-right: 30px;
}

.sidebar {
  width: 270px;
}

@media(max-width: 830px) {
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 0 !important;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 20px 4px rgb(0 0 0 / 37%);
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: transform .3s ease-in;
  }
  .sidebar--mobile-active {
    display: block;
    transform: translateX(0%);
  }
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .cards-holder {
    flex-direction: column;
    align-items: center;
  }
}

/* card */
.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.card-link:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.card {
  background: rgb(255, 255, 255);
  width: 270px;
  position: relative;
}

.card__badges {
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
}

.card__badge {
  display: inline-block;
  border-radius: 4px; 
  height: 22px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
}

.card__badge--class {
  background: rgb(255, 207, 38);
}

.card__badge--credit {
  background: rgb(17, 190, 117);
  color: rgb(255, 255, 255);
}

.card__badge:first-child {
  margin-right: 10px;
}

.card__content {
  padding: 15px;
  padding-bottom: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 10px;
}

.card__term {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.card__metro {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.card__metro::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  vertical-align: baseline;
  margin-right: 10px;
  background-image: url(../img/icons/metro.svg);
  background-repeat: no-repeat;
  background-size: initial;
}

.card__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(119, 119, 119);
}

.card-link--hidden {
  display: none;
}

/* Button */
.btn-more {
  font-family: inherit;
  border: none;
  background-color: #E5E5E5;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(66, 144, 201);
  width: 870px;
  height: 80px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-more img {
  margin-right: 12px;
}

.btn-more:hover {
  background-color: #d8d8d8;
}

/* Sidebar */
.widget {
}

.widget__title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.widget__title::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  background-image: url('../img/icons/chevron-up.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.widget:not(:last-child) {
  margin-bottom: 30px;
}

.widget__title--active::after {
  transform: rotate(180deg);
}

.widget__body--hidden {
  display: none;
}

/* Location buttons group */
.location__row {
  display: flex;
}

.location__row:first-child {
  border-radius: 4px 4px 0 0;
  border: 1px solid rgb(214, 214, 214);
}

.location__row:last-child {
  border-radius: 0 0 4px 4px;
  border: 1px solid rgb(214, 214, 214);
  border-top: none;
}

.location__btn {
  flex-grow: 1;
  font-family: inherit;
  background-color: transparent;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: rgb(60, 60, 60);
  width: 67px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.location__btn:hover {
  background-color: #fff0bb;
}

.location_checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.location_checkbox:checked + .location__btn {
  background-color: rgb(255, 207, 38);
}

.location_checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

/* Radio */
.radio {
  display: block;
  cursor: pointer;
}

.radio:not(:last-child) {
  margin-bottom: 15px;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.radio__real:checked + .radio__fake {
  background-color: rgb(255, 224, 116);
}

.radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: rgb(60, 60, 60);
  width: 8px;
  height: 8px;
  border-radius: 50%;
} 

.radio__real:checked ~ .radio__title {
  font-weight: 500;
}

.radio__fake {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(119, 119, 119);
  margin-right: 10px;
  vertical-align: bottom;
}

.radio__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
}

/* Checkbox */
.checkbox {
  display: block;
  cursor: pointer;
}

.checkbox--hidden {
  display: none;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
}

.checkbox:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(119, 119, 119);
  margin-right: 10px;
  vertical-align: bottom;
  border-radius: 2px;
  position: relative;
}

.checkbox__real:checked + .checkbox__fake {
  background-color: rgb(255, 224, 116);
}

.checkbox__real:checked + .checkbox__fake::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/icons/check.svg);
  background-size: initial;
  background-position: center;
}

/* Hidden elements widget */ 
.widget__hidden {
  display: none;
  margin-bottom: 15px;
}

.widget__show-hidden {
  background: transparent;
  display: inline-block;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(66, 144, 201);
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.widget__show-hidden:hover {
  color: #007fda;
  opacity: 0.8;
  text-decoration: underline;
}

.widget__show-hidden:active, .widget__show-hidden:focus {
  outline: none;
}

/* Toggle */
.toggle {
  cursor: pointer;
}

.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.toggle__fake {
  display: inline-block;
  background-color: #C4C4C4;
  width: 37px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  vertical-align: bottom;
  margin-right: 10px;
}

.toggle__fake::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  transition: 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
  background-color: #FFE074;
}

.toggle__real:checked + .toggle__fake::before {
  left: 19px;
}

.toggle__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
}

.toggle__real:checked ~ .toggle__title {
  font-weight: 500;
}

/* Form buttons */
.form-btn {
  border: none;
  font-family: inherit;
  width: 270px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(60, 60, 60);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn img {
  margin-right: 6px;
}

.form-btn:hover {
  background-color: #e7e7e7;
}

.form-btn--submit {
  background: rgb(255, 207, 38);
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.form-btn--submit:hover {
  background-color: #ffe173;
}

/* Button toggle sidebar */
button.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: rgb(71, 71, 71);
  border: none;
  padding: 0;
}

@media(max-width: 830px) {
  button.toggle-sidebar {
    display: block;
  }
}

.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}




