* {
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
}

.sidebar {
  width: 270px;
}

.cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

/* card */
.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.card-link:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.card {
  background: rgb(255, 255, 255);
  width: 270px;
  position: relative;
}

.card__badges {
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
}

.card__badge {
  display: inline-block;
  border-radius: 4px; 
  height: 22px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
}

.card__badge--class {
  background: rgb(255, 207, 38);
}

.card__badge--credit {
  background: rgb(17, 190, 117);
  color: rgb(255, 255, 255);
}

.card__badge:first-child {
  margin-right: 10px;
}

.card__img {
}

.card__content {
  padding: 15px;
  padding-bottom: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 10px;
}

.card__term {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.card__metro {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.card__metro::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  vertical-align: baseline;
  margin-right: 10px;
  background-image: url(../img/icons/metro.svg);
  background-repeat: no-repeat;
  background-size: initial;
}

.card__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(119, 119, 119);
}

/* Button */
.btn-more {
  font-family: inherit;
  border: none;
  background-color: #E5E5E5;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(66, 144, 201);
  width: 870px;
  height: 80px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-more img {
  margin-right: 12px;
}

.btn-more:hover {
  background-color: #d8d8d8;
}

/* Sidebar */
.widget {
}

.widget__title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}

.widget__title::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  background-image: url('../img/icons/chevron-up.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.widget:not(:last-child) {
  margin-bottom: 30px;
}

/* Location buttons group */
.location {
}

.location__row {
  display: flex;
}

.location__row:first-child {
  border-radius: 4px 4px 0 0;
  border: 1px solid rgb(214, 214, 214);
}

.location__row:last-child {
  border-radius: 0 0 4px 4px;
  border: 1px solid rgb(214, 214, 214);
  border-top: none;
}

.location__btn {
  flex-grow: 1;
  font-family: inherit;
  background-color: transparent;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: rgb(60, 60, 60);
  width: 67px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.location__btn:hover {
  background-color: #fff0bb;
}

.location_checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.location_checkbox:checked + .location__btn {
  background-color: rgb(255, 207, 38);
}

.location_checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

/* Radio */
.radio {
  display: block;
  cursor: pointer;
}

.radio:not(:last-child) {
  margin-bottom: 15px;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.radio__real:checked + .radio__fake {
  background-color: rgb(255, 224, 116);
}

.radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: rgb(60, 60, 60);
  width: 8px;
  height: 8px;
  border-radius: 50%;
} 

.radio__real:checked ~ .radio__title {
  font-weight: 500;
}

.radio__fake {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(119, 119, 119);
  margin-right: 10px;
  vertical-align: bottom;
}

.radio__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
}

/* Checkbox */
.checkbox {
  display: block;
  cursor: pointer;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox__fake {
}

.checkbox__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
}

.checkbox:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(119, 119, 119);
  margin-right: 10px;
  vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
  background-color: rgb(255, 224, 116);
}



